// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 33px;
}

.body {
	margin-top: 60px;
}


div {
	margin-bottom: 10px;
}

h2 {
	margin-top: 20px;
	margin-bottom: 10px;
}

label {
	display: block;
}

a:hover {
	background-color: black;
}

a:visited {
	color: #666;
}

nav span {
	color: white;
	font-size: 20px;
}

header div {
	margin-bottom: 0;
}

th {
	display: table-cell;
}

th h4 {
	margin-top: 0;
	margin-bottom: 0;
}

#in_up {
	margin: 33px;
}

.error {
	color: red;
}